<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732790384212-ko3rap8k77287m8o2ofetbdja5o0cue1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732790384212-ko3rap8k77287m8o2ofetbdja5o0cue1</string>
	<key>API_KEY</key>
	<string>AIzaSyBv6diVAz-xlClr_MgGwau2zmeeyLrqoUc</string>
	<key>GCM_SENDER_ID</key>
	<string>732790384212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Dogpa.Swift-Practice---112-Firestore-Read</string>
	<key>PROJECT_ID</key>
	<string>swiftpractice112firestore</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftpractice112firestore.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732790384212:ios:919a2e13210ded14c36fc1</string>
</dict>
</plist>